.btn {
  padding: 10px 20px;
  /* border: 1px solid var(--green); */
  color: black;
  background: var(--green);
  transition: 0.3s ease-in-out;
  font-weight: 400;
  color: var(--light);
  outline: none;
  border: none;
}

.btn-cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.btn:active {
  background: rgb(144, 202, 199);
  color: white;
}
